NODE_ENV=development
PORT=5000
DATABASE_URL="YOUR_DATABASE_URL_HERE"
CLIENT_URL="YOUR_CLIENT_URL_HERE"

# firebase environment variables
FIREBASE_PROJECT_ID="YOUR_FIREBASE_PROJECT_ID_HERE"
FIREBASE_CLIENT_EMAIL="YOUR_FIREBASE_CLIENT_EMAIL_HERE"
FIREBASE_PRIVATE_KEY="YOUR_PRIVATE_KEY_HERE"